html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.white {
  background-color: white;
}

.light-grey {
  background-color: rgb(235, 235, 235);
}

.grey {
  background-color: rgb(151, 151, 151);
}

.dark-grey {
  background-color: rgb(78, 78, 78);
}

.black {
  background-color: black;
}

.border-radius {
  border-radius: 5px;
}

.nav-bar {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  align-items: center;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.nav-icons {
  height: 80px;
  padding: 10px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

li {
  width: 20%;
  height: 60px;
  background-color: rgb(78, 78, 78);
  border-radius: 5px;
}

.logo {
  height: 80px;
}

.search-bar {
  height: 80px;
}

.header {
  height: 80px;
  width: 20%;
  margin: 10px auto 10px auto;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.type1 {
  height: 700px;
  width: 50%;
  padding: 2% 20px 4% 20px;
  box-sizing: border-box;
}

.author {
  height: 15%;
  padding: 2%;
}

.author-img {
  height: 80px;
  width: 80px;
  float: left;
}

.author-name {
  height: 80px;
  width: 80%;
  float: right;
}

.type1 h2 {
  height: 30%;
  width: 100%;
  font-size: 28px;
  padding: 5% 0;
}
